/*MISCELANEOUS*/
*,
* ::before,
* ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  min-height: 100vh;
  position: relative; }

a {
  display: inline-block;
  text-decoration: none; }

/*PARTIALS*/
.pieDePagina {
  font-size: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center; }

header {
  min-height: 15vh; }
  header .logo {
    width: 40%; }

/*views*/
div {
  /*   .center{
        text-align: center;
    } */ }
  div .image {
    width: 100%;
    filter: contrast(80%);
    opacity: 0.9;
    padding: 4rem; }
  div #listaDeProductos {
    color: black; }
  div ul {
    list-style-type: none; }

main section div img {
  width: 5%; }
