/*MISCELANEOUS*/
*,
* ::before,
* ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  min-height: 100vh;
  position: relative; }

a {
  display: inline-block;
  text-decoration: none; }

button {
  color: #e27e0c; }

/*PARTIALS*/
.pieDePagina {
  font-size: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center; }

header {
  min-height: 15vh; }
  header .logo {
    width: 40%; }

/*views*/
main section div img {
  width: 5%; }

div {
  padding: 1.2rem; }
  div .image {
    width: 100%;
    filter: contrast(80%);
    opacity: 0.9; }
  div .linea {
    border-bottom: 6px solid #e27e0c;
    height: 2px;
    max-width: 1800px;
    padding: 3rem;
    text-align: center; }
  div #listaDeProductos {
    color: black; }

.btn-warning {
  background-color: #e27e0c;
  border-color: #e27e0c; }

.swal2-styled.swal2-confirm {
  background-color: #e27e0c;
  color: black; }
