/*MISCELANEOUS*/
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Open+Sans:ital,wght@0,300;1,300&display=swap");
*,
* ::before,
* ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.contenedor {
  max-width: 1080px;
  margin: 0 auto; }

body {
  min-height: 100vh;
  position: relative; }

a {
  display: inline-block;
  text-decoration: none; }

button {
  color: #e27e0c; }

/*PARTIALS*/
.pieDePagina {
  font-size: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  background-color: #a9a9a99c; }

header {
  min-height: 15vh; }
  header .logo {
    width: 40%; }

/*views*/
main section div img {
  width: 5%; }

div {
  padding: 1.2rem; }
  div .image {
    width: 100%;
    filter: contrast(80%);
    opacity: 0.9; }
  div .linea {
    border-bottom: 4px solid #e27e0c;
    height: 2px;
    max-width: 1800px;
    padding: 3rem;
    text-align: center; }
  div #listaDeProductos {
    color: black; }

.btn-warning {
  background-color: #e27e0c;
  border-color: #e27e0c; }

.swal2-styled.swal2-confirm {
  background-color: #e27e0c;
  color: black; }

h1 {
  color: black;
  text-align: center;
  margin-top: 4rem;
  font-family: "Chakra Petch", sans-serif; }

.nav-link {
  font-family: "Chakra Petch", sans-serif;
  border: 2rem; }

.navbar-nav {
  border: 2rem;
  border-color: #e27e0c; }
