 div {
    

    .image{
        width: 100%;
        filter: contrast(80%);
        opacity: 0.9;
        padding: 4rem;
    }
    
    #listaDeProductos{
        color:black;
}
  /*   .center{
        text-align: center;
    } */
    ul {
        list-style-type: none;
    }
    

    
}
        
